/* ===== FORCE AUTH POPUP ABOVE HOME ===== */

.auth-overlay {
  position: fixed !important;
  inset: 0 !important;

  background: rgba(0,0,0,0.6);

  z-index: 999999 !important;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Push home behind popup */
app-home {
  position: relative !important;
  z-index: 1 !important;
}

/* Navbar below popup */
app-navbar {
  position: relative !important;
  z-index: 5 !important;
}
