<footer class="fk-footer" aria-label="Site footer">
	<div class="fk-footer__top">
		<div class="fk-footer__col">
			<h3 class="fk-footer__title">About</h3>
			<a class="fk-footer__link" href="#">Contact Us</a>
			<a class="fk-footer__link" href="#">About Us</a>
			<a class="fk-footer__link" href="#">Careers</a>
			<a class="fk-footer__link" href="#">Press</a>
			<a class="fk-footer__link" href="#">Corporate Info</a>
		</div>
		<div class="fk-footer__col">
			<h3 class="fk-footer__title">Help</h3>
			<a class="fk-footer__link" href="#">Payments</a>
			<a class="fk-footer__link" href="#">Shipping</a>
			<a class="fk-footer__link" href="#">Cancellation & Returns</a>
			<a class="fk-footer__link" href="#">FAQs</a>
			<a class="fk-footer__link" href="#">Report Infringement</a>
		</div>
		<div class="fk-footer__col">
			<h3 class="fk-footer__title">Policy</h3>
			<a class="fk-footer__link" href="#">Return Policy</a>
			<a class="fk-footer__link" href="#">Terms Of Use</a>
			<a class="fk-footer__link" href="#">Security</a>
			<a class="fk-footer__link" href="#">Privacy</a>
			<a class="fk-footer__link" href="#">Sitemap</a>
		</div>
		<div class="fk-footer__col">
			<h3 class="fk-footer__title">Social</h3>
			<a class="fk-footer__link" href="#">Facebook</a>
			<a class="fk-footer__link" href="#">Twitter</a>
			<a class="fk-footer__link" href="#">YouTube</a>
			<a class="fk-footer__link" href="#">Instagram</a>
		</div>
		<div class="fk-footer__col fk-footer__col--wide">
			<h3 class="fk-footer__title">Mail Us</h3>
			<p class="fk-footer__text">
				ShopEasy Internet Private Limited,
				Brigade Tech Park, Whitefield, Bengaluru, 560103, Karnataka, India
			</p>
		</div>
		<div class="fk-footer__col fk-footer__col--wide">
			<h3 class="fk-footer__title">Registered Office Address</h3>
			<p class="fk-footer__text">
				ShopEasy Internet Private Limited,
				Brigade Tech Park, Whitefield, Bengaluru, 560103, Karnataka, India
			</p>
			<p class="fk-footer__text">CIN : U51109KA2012PTC066107</p>
			<p class="fk-footer__text">Telephone: 1800 202 9898</p>
		</div>
	</div>

	<div class="fk-footer__bottom">
		<div class="fk-footer__bottom-left">
			<a class="fk-footer__bottom-link" href="#">Become a Seller</a>
			<a class="fk-footer__bottom-link" href="#">Advertise</a>
			<a class="fk-footer__bottom-link" href="#">Gift Cards</a>
			<a class="fk-footer__bottom-link" href="#">Help Center</a>
		</div>
		<div class="fk-footer__bottom-right">
			<span class="fk-footer__copy">© 2026 ShopEasy</span>
			<span class="fk-footer__payments">Visa, MasterCard, RuPay, UPI</span>
		</div>
	</div>
</footer>
