/* PAGE CENTER */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* FORM CARD */
.form-container {
margin-top: 2px;
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* TITLE */
.form-title {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* INPUT BOX */
.input-box {
  margin-bottom: 16px;
}

.input-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

/* INPUT */
.input-box input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
}

.input-box input:focus {
  border-color: #007bff;
}

/* BUTTON */
.btn-primary {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: #0056b3;
}

.btn-primary:disabled {
  background: #9bbce8;
  cursor: not-allowed;
}

/* FULL WIDTH */
.w-100 {
  width: 100%;
}

/* ICON */
.bi {
  margin-right: 6px;
}

/* LINK */
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.register-text a:hover {
  text-decoration: underline;
}

/* ERROR */
.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

/* INVALID */
input.ng-invalid.ng-touched {
  border-color: #dc3545;
  background: #fff5f5;
}

/* VALID */
input.ng-valid.ng-touched {
  border-color: #28a745;
  background: #f6fff8;
}


.register-text {
  text-align: center;      /* Center text */
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;    /* Align icon + text */
  align-items: center;
  gap: 5px;
}

.register-text a:hover {
  text-decoration: underline;
}
