<nav class="nav">

  <!-- LOGO -->
  <a routerLink="/products">
    <i class="fa-solid fa-store"></i> MyShop
  </a>

  <!-- SEARCH -->
  <form class="search" (ngSubmit)="search()">

    <input
      type="text"
      placeholder="🔍 Search products..."
      [(ngModel)]="searchText"
      name="search"
    />

  </form>

  <!-- BEFORE LOGIN -->
  <div *ngIf="!authService.isLoggedIn()" class="auth-box">

    <a routerLink="/login">
      <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>

    <a routerLink="/register">
      <i class="fa-solid fa-user-plus"></i> Register
    </a>

  </div>

  <!-- AFTER LOGIN -->
  <div *ngIf="authService.isLoggedIn()" class="menu">

    <a routerLink="/products">
      <i class="fa-solid fa-box"></i> Products
    </a>

    <a routerLink="/cart">
      <i class="fa-solid fa-cart-shopping"></i> Cart
    </a>

    <a routerLink="/orders">
      <i class="fa-solid fa-receipt"></i> Orders
    </a>

    <button (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
    </button>

  </div>

</nav>
