<div class="container admin-page">

  <!-- TITLE -->
  <h2 class="page-title">
    <i class="fa-solid fa-pen-to-square"></i> Manage Products
  </h2>

  <!-- EMPTY -->
  <div *ngIf="products.length === 0" class="empty-orders">
    <i class="fa-solid fa-box-open"></i>
    No products found
  </div>

  <!-- PRODUCT LIST -->
  <div *ngFor="let product of products" class="admin-product-card">

    <div class="admin-product-info">
      <h4>{{ product.name }}</h4>
      <p class="price">₹{{ product.price }}</p>
    </div>

    <div class="admin-actions">

      <!-- EDIT -->
      <a
        
        class="edit-btn"
      >
        <i class="fa-solid fa-pen"></i>
        Edit
      </a>

      <!-- DELETE -->
      <button
        class="btn-danger"
       
      >
        <i class="fa-solid fa-trash"></i>
      </button>

    </div>

  </div>

</div>
