<div class="container orders-page">

  <!-- TITLE -->
  <h2 class="page-title">
    <i class="fa-solid fa-box-open"></i> My Orders
  </h2>

  <!-- EMPTY -->
  <div *ngIf="orders.length === 0" class="empty-orders">
    <i class="fa-solid fa-inbox"></i>
    No orders found
  </div>

  <!-- ORDERS -->
  <div *ngFor="let order of orders" class="order-card">

    <div class="order-row">
      <span>Order ID:</span>
      <strong>{{ order._id }}</strong>
    </div>

    <div class="order-row">
      <span>Total:</span>
      <strong class="price">₹{{ order.totalAmount }}</strong>
    </div>

    <div class="order-row status">
      <i class="fa-solid fa-circle-check"></i>
      Completed
    </div>

  </div>

</div>
